.container__form {
  display: flex;
  align-items: center;
}
.form__div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form__div label {
  margin-top: 10px;
  margin-bottom: -10px;
}
.form__div input {
  font-size: 1rem;
  padding: 0.3rem;
  width: 70vw;
  margin-top: -10px;
}
.form__div textarea {
  width: 70vw;
  aspect-ratio: 1;
}

.btn {
  margin-bottom: 1rem;
  align-self: center;
}
.flowrino-btn {
  border-radius: 5px;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  font-weight: 200;
  font-size: 14pt;
  background: linear-gradient(to right, Tomato, DarkOrange, Crimson, Tomato);
  background-size: 600% 600%;
  border: 1px solid transparent;
  animation: gradient 30s linear infinite;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.flowrino-btn:hover {
  background: linear-gradient(
    to right,
    CornflowerBlue,
    Aqua,
    DeepPink,
    CornflowerBlue
  );
  background-size: 600% 600%;
  animation: gradient2 20s linear infinite;
  filter: drop-shadow(0px 0px 30px CornflowerBlue);
  font-weight: 400;
  text-shadow: 0px 0px 3px CornflowerBlue;
}

@keyframes gradient2 {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 600% 50%;
  }
}

@media (min-width: 600px) {
  .form__div {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .form__div label {
    margin-top: 10px;
    margin-bottom: -10px;
  }
  .form__div input {
    font-size: 1rem;
    padding: 0.3rem;
    width: 50vw;
    margin-top: -10px;
  }
  .form__div textarea {
    width: 50vw;
    height: 200px;
  }
}
