.header {
  width: 100%;
  height: 100px;
  display: flex;
  /* background-image: url("../assets/react.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1em;
  margin-bottom: 1rem;
}
.header__img {
  margin-top: 0;
  width: 150px;
}
@media (min-width: 600px) {
  .header {
    grid-column: span 3;
    height: 200px;
    display: flex;
    align-items: flex-end;
  }
  .header__img {
    margin-top: 0;
    width: 350px;
  }
}
